<div class="container mt-5">
    <h2 class="mb-4">Pagos Realizados</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Monto</th>
          <th scope="col">Medio de Pago</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí se rellenarán los pagos dinámicamente >
        <tr *ngFor="let p of misPagos">
          <th scope="row">{{p._id}}</th>
          <td>{{ p.fechaDePago | date }}</td>
          <td>{{p.monto}}</td>
          <td>{{p.medioDePago}}</td>
          <td>Completado</td>
        </tr-->
      </tbody>
    </table>
</div>
