.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scroll-top-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: navy; /* Color azul marino */
  color: white;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-top-button:hover {
  background-color: #000080; /* Azul marino más oscuro */
}

.scroll-top-button i {
  margin: 0;
}
