<div class="container">
  <form #myForm="ngForm" (ngSubmit)="createNovedad()">
    <h2 class="titulo-novedades">NOVEDADES</h2>
    <div class="form-group">
      <label for="usuario" class="form-label">Local Alquilado: </label>
      <select
        class="form-select-dm"
        name="alquiler"
        [(ngModel)]="alquiler"
        required
        #alquilerCtrl="ngModel"
      >
        <option value="" disabled>Selecciona tu local</option>
        <option *ngFor="let alquiler of alquileres" [ngValue]="alquiler">
          {{ alquiler.local.titulo }}
        </option>
      </select>
      <div
        *ngIf="alquilerCtrl.touched && alquilerCtrl.invalid"
        class="text-danger"
      >
        Datos obligatorios
      </div>
    </div>
    <div class="form-group">
      <textarea
        class="form-control textarea-novedad"
        name="descripcion"
        [(ngModel)]="novedad.descripcion"
        placeholder="Ingrese novedad"
        required
        #descripcionCtrl="ngModel"
      ></textarea>
      <div
        *ngIf="descripcionCtrl.touched && descripcionCtrl.invalid"
        class="text-danger"
      >
        Datos obligatorios
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-enviar">Enviar</button>
  </form>
</div>
