<!-- footer.component.html -->
<footer class="footer-section">
  <div class="container text-center">
    <p class="footer-text">TP-FINAL-HIA-2024</p>
    <p class="footer-text">
      Ingrid Fernandez Torres | Paula Casimiro| Agustin Emanuel Cruz
      | Lourdes Bejarano 
    </p>
    <div class="social-icons">
      <a href="https://www.instagram.com" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.tiktok.com" target="_blank">
        <i class="fab fa-tiktok"></i>
      </a>
    </div>
  </div>
</footer>
